.App{
  border: 2px solid lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 400px 60px 400px;
  padding : 30px;
}

.app{
  display: none;
}